.sub-navigation {
  margin-bottom: 1rem;
  .btn {
    margin-right: 0.8rem;
  }
}

.title {
  margin-left: 0.5rem;
}

@media (max-width: 544px) {
  .sub-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .btn {
      margin: 0 0 1rem 0;
      width: 100%;

      .content {
        text-align: center;
        padding: 8px 10px;
        justify-content: center;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}