.card-footer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: 45px 22px 61px 22px;
}

@media (max-width: 980px) {
  .card-footer {
    flex-wrap: wrap;
    padding: 20px 0;
  }
}
