.card-header {
  border-bottom: none;

  .entries {
    display: flex;
    flex-direction: row;

    .text, .dropdown-wrapper {
      margin: auto 0;
    }
    .text {
      color: $gray;
      vertical-align: middle;

      &:first-child {
        margin-right: .5rem;
      }

      &:last-child {
        margin-left: .5rem;
      }
    }
    .dropdown-wrapper {
      width: 80px;
    }
  }
  .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &-input {
      display: inline-flex;
      margin: auto 0;
    }
  }
}
@media (max-width: 767px) {
  .card-header {
    .search {
      justify-content: center;
    }
  }
}
@media (max-width: 544px) {
  .header {
    display: flex;

    .btn {
      width: 100%;
    }
  }
}