.card-header {
  border-bottom: none;
  .entries {
    display: flex;
    flex-direction: row;
    .text, .dropdown-wrapper {
      display: inline-flex;
      margin: auto 0;
    }
    .text {
      color: $gray;
      vertical-align: middle;
      $margin: .5rem;
      &:first-child {
        margin-right: $margin;
      }
      &:last-child {
        margin-left: $margin;
      }
    }
    .dropdown-wrapper {
      width: 80px;
    }
  }
  .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &-input {
      display: inline-flex;
      margin: auto 0;
    }
  }
}
@include mq($max-width: 767px) {
  .card-header {
    .search {
      justify-content: center;
    }
  }
}
