.sidebar {
  background: $main_dark;
  float: left;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: width 300ms ease-in-out;
  will-change: width;
  width: 290px;
  z-index: 3;

  &.closed {
    width: 75px;

    .block {
      .logo {
        padding: 25px 0 25px 18px !important;
      }
    }

    .nav {
      .nav-item {
        padding: 10px 25px !important;
      }
    }
  }

  .block {
    .logo {
      cursor: pointer;
      display: block;
      padding: 25px 0 25px 18px;
      transition: padding 0.3s linear;
      user-select: none;

      &:hover {
        text-decoration: none;
      }

      .image {
        display: inline-block;

        img {
          height: 30px;
        }
      }

      .text {
        color: $white;
        display: inline-block;
        line-height: 30px;
        margin-left: 13px;
        position: absolute;
        text-overflow: clip;
        vertical-align: middle;
        width: auto;

        img {
          height: 30px;
        }
      }
    }

    .nav {
      display: block;

      &.service_nav {
        display: none;
      }

      .nav-item {
        align-items: center;
        display: flex;
        padding: 10px 25px;
        transition: all 0.3s ease-in-out;
        color: $gray;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }

        &.active {
          background: linear-gradient(
              to right,
              $main_blue 0%,
              $secondary_blue 100%
          ) !important;
          color: $white !important;

          .icon,
          span {
            color: $white !important;
            font-weight: 500;
          }
        }

        &:hover {
          background: rgba(74, 145, 192, 0.5);
        }

        .icon {
          width: 25px;
          color: $gray;
          font-size: 25px;
          text-align: center;
          vertical-align: middle;
          display: inline-block;
        }

        span {
          color: $gray;
          display: inline-block;
          font-size: 1rem;
          font-weight: 400;
          margin-left: 20px;
          max-width: 185px;
          overflow: hidden;
          padding-top: 1px;
          text-overflow: clip;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          user-select: none;
          width: auto;
          white-space: nowrap;

          @media (max-width: 768px) {
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  &--switch {
    align-items: center;
    bottom: 0;
    font-size: 30px;
    cursor: pointer;
    color: #818e9e;
    display: flex;
    margin-bottom: 15px;
    padding: 10px 0 10px 22px;
    position: absolute;
    transition: background 0.3s ease-in-out;
    justify-content: flex-start;
    width: 100%;

    svg {
      transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    &:hover {
      color: #fff;
    }

    .text {
      margin: 0 0 0 20px;
      font-size: 16px;
      user-select: none;
      transition: color 0.3s ease-in-out;
    }

    &.active {
      svg {
        transform: rotate(-180deg)
      }
    }

    @media (max-width: 768px) {
      bottom: auto;
      padding-left: 0;
      right: -70px;
      top: 15px;
      width: auto;

      svg {
        &:hover {
          color: #fff;
        }
      }
      .text {
        display: none;
      }
    }

    @media (max-width: 543px) {
      right: -35px;
    }
  }

  .collapse-text-enter-active, .collapse-text-leave-active {
    transition: opacity 0.3s ease-in-out;
  }
  .collapse-text-enter, .collapse-text-leave-to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .sidebar {
    height: 100%;
    position: absolute;
    left: 0;
    float: none;
    top: 0;
    transition: transform 0.3s ease-in-out;

    &.closed {
      transform: translateX(-100%);
      width: 290px;
    }

    .block {
      position: relative;
      height: 100%;

      .nav {
        margin-top: 0;
        position: sticky;
        top: 20px;

        &:not(.service_nav) {
          height: auto;
          overflow-y: auto;
          overflow-x: hidden;
        }

        .nav-item {
          transition: all .3s;

          &.closed {
            margin-left: -300px;
          }
        }

        &.service_nav {
          display: block;
          position: absolute;
          top: auto;
          bottom: 25px !important;
          width: 100%;

          .nav-item {
            display: flex;
            transition: all .3s ease-in-out;

            svg {
              margin-right: 20px;
            }

            &.closed {
              margin-left: -300px;
            }

            a, span {
              color: #818e9e;
              font-size: 16px;
              margin: 0;
              position: relative;
              white-space: nowrap;
            }

            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 543px) {
  .sidebar {
    width: 280px
  }
}
