.sidebar {
  z-index: 2;
  float: left;
  width: 290px;
  min-width: 290px;
  background: $main_dark;
  position: fixed;
  top: 0;
  min-height: 100vh;
  transition: all 0.3s linear;
  &.closed {
    width: 75px;
    min-width: 75px;
    .block {
      .logo {
        padding: 25px 0 25px 18px !important;
      }
    }
    .nav {
      .nav-item {
        padding: 10px 25px !important;
      }
    }
  }
  .block {
    .logo {
      transition: padding 0.3s linear;
      padding: 25px 0 25px 37px;
      display: block;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
      .image {
        display: inline-block;
        img {
          height: 30px;
        }
      }
      .text {
        margin-left: 13px;
        color: $white;
        line-height: 30px;
        vertical-align: middle;
        text-overflow: clip;
        display: inline-block;
        position: absolute;
        width: auto;
        img {
          height: 30px;
        }
      }
    }
    .nav {
      display: block;
      &.service_nav {
        display: none;
      }
      .nav-item {
        align-items: center;
        display: flex;
        padding: 10px 45px;
        transition: all 0.3s linear;
        color: $gray;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
        &.active {
          background: linear-gradient(
              to right,
              $main_blue 0%,
              $secondary_blue 100%
          ) !important;
          color: $white !important;
          .icon,
          span {
            color: $white !important;
            font-weight: 500;
          }
        }
        &:hover {
          background: rgba(74, 145, 192, 0.5);
        }
        .icon {
          width: 25px;
          color: $gray;
          font-size: 25px;
          text-align: center;
          vertical-align: middle;
          display: inline-block;
        }
        span {
          padding-top: 1px;
          font-size: 1rem;
          color: $gray;
          font-weight: 400;
          transition: all 0.3s ease-in-out;
          margin-left: 20px;
          display: inline-block;
          max-width: 185px;
          width: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: clip;
          text-decoration: none;
        }
      }
    }
  }
}

@include mq($max-width: 768px) {
  .sidebar {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    float: none;
    .block {
      .logo {
        transition: padding 0.3s linear;
        .text {
          transition: all 0.3s linear;
        }
      }
    }
    &.closed {
      position: absolute;
      left: -75px;
      .block {
        .logo {
          transition: padding .3s linear;
          .text {
            display: none;
          }
        }
      }
    }
    .block {
      position: relative;
      height: 100%;
      .nav {
        margin-top: 0px;
        &:not(.service_nav) {
          height: calc(100% - 210px);
          overflow-y: auto;
          overflow-x: hidden; 
        }
        .nav-item {
          transition: all .3s;
          &.closed {
            margin-left: -300px;
          }
        }
        &.service_nav {
          display: block;
          position: absolute;
          bottom: 25px;
          width: 100%;
          .nav-item {
            display: flex;
            transition: all .3s;
            svg {
              margin-right: 20px;
            }
            &.closed {
              margin-left: -300px;
            }
            a, span {
              color: #818e9e;
              font-size: 16px;
              margin: 0;
              position: relative;
              white-space: nowrap;
            }
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}